.custom-badge .mat-badge-content {
    width: 33px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color:antiquewhite;
}

.custom-badge .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

a {
    &.active {
        color: #7d00fa;
    }
}